nav class=%w[ \
    relative \
    w-full \
    flex flex-wrap \
    items-center \
    justify-between \
    py-2 \
    text-gray-900 \
    navbar navbar-expand-lg navbar-light \
  ]
  div class=%w[ \
    container px-4 mx-auto \
    flex flex-wrap \
    items-center justify-between \
  ]
    div class=%w[ \
        w-full relative \
        flex items-center justify-between \
        lg:static lg:block lg:justify-start px-4 \
      ]
      | 
    div class=%w[ \
        md:flex flex-grow \
        items-center \
      ]
      ul class=%w[ \
          navbar-nav flex flex-col \
          lg:flex-row list-style-none ml-auto \
          md:flex-row md:space-x-8 md:text-sm md:font-bold \
        ]
        - if user_signed_in?
          li.nav-item.p-2 class=%w[ \
              hover:text-gray-700 \
              focus:text-gray-700 \
              underline decoration-double underline-offset-4 \
            ]
            = link_to 'Groups', groups_path, :method => :get
          li.nav-item.p-2 class=%w[ \
              hover:text-gray-700 \
              focus:text-gray-700 \
            ]
            = link_to 'Signout', destroy_user_session_path, :method => :delete
